<!DOCTYPE html>
<html>
  <head>
    <title>Markmcdapp112</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <% if Rails.env.development? %>
      <%= javascript_include_tag "hotwire-livereload", defer: true %>
    <% end %>
  </head>

  <body>
    
    <%= render 'layouts/shared/header' %>
    <div class="container py-4">
      <div class="p-5 mb-4 bg-light rounded-3 static-page">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/shared/footer' %>
    
   <div></div> 

  </body>
</html>
